/* Basic Style Structure */
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width:100%;
    height:100%;
}
body{
    font-family: supersize-bk, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
header{
    width:100%;
    height:16%;
    z-index: 5;
}
/* Various Shared Styles to Simplify Styling */
/* Navigation Elements */
/* Logo and Nav Element Styling */
#logoNav, #logoNavFlat, .home, .products, .about, .contact{
    cursor: pointer;
    transition: 0.2s;
    z-index: 5;
}
#logoNavFlat{
    display: none;
}
#logoNav:hover, #logoNavFlat:hover{
    transform: scale(1.05);
}
#navBar{
    width:100%;
    height:15%;
    display: flex;
    display: none;
    z-index: 5;
    transition: 0.8s;
}
/* Nav Bar Section Options*/ 
.options{
    display: flex;
    margin:2.2vh;
    width:48%;
    padding: 3.14vh;
    margin-left: 50%;
    font-family: supersize-bk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #E51B6C;
}
.home, .products, .about, .contact{
    padding:5.8%;
    padding-top:0;
    padding-bottom:0;
}
.home:hover, .products:hover, .about:hover, .contact:hover{
    transform: scale(1.2);
}
/* Nav Bar Logo */
#navContainer{
    position: absolute;
    left: 5%;
    top:5%;
    width: 40.4vh;
    height: 22.4vh;
    z-index: 5;
    transition: 0.8s;
}
/* Mobile Layour Hamburger Menu and Navigation Options */ 
.hamburger{
    display: none;
}
.optionsM{
    display: flex;
    font-family: supersize-bk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #E51B6C;
}
.optionsM{
    display: none;
}
.homeM, .productsM, .aboutM, .contactM{
    display: none;
}
/* First Arrow Style */
#navArrow{
    position: absolute;
    width:15vh;
    height:15vh;
    left:72%;
    top:42%;
    transition: 0.2s;
    z-index: 10;
    transition: 0.6s;
}
/* All Arrow Hover Styles */
#navArrow:hover, #proArrow:hover, #proArrow2:hover, #proArrow3:hover, #proArrow4:hover, #proArrowOther:hover, #abArrow:hover, #conArrow:hover, #revArrow:hover, #revArrow2:hover, #revArrow3:hover, #revArrow4:hover{
    transform: scale(1.1);
}
/* All Other Nav Arrow Styles */
#proArrow, #proArrow2, #proArrow3, #proArrow4, #proArrowOther, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
    position: absolute;
    width:15vh;
    height:15vh;
    left:90%;
    top:42%;
    transition: 0.2s;
    z-index: 10;
    display: none;
}
/* Navigation Arrow Animations */
.surArrow1, .surArrow2{
    position: absolute;
}
/* Clockwise Rotation */
.surArrow1{
    animation: rotation1 8s infinite linear;
}
@keyframes rotation1 {
    from {
        transform: rotate(0deg) scale(1.2);
    }

    to {
        transform: rotate(359deg) scale(1.2);
    }
}
/* Counter-Clockwise Rotation */
.surArrow2{
    animation: rotation2 5s infinite linear;
}
@keyframes rotation2 {
    from {
        transform: rotate(359deg) scale(1.1);
    }

    to {
        transform: rotate(0deg) scale(1.1);
    }
}
/* Main Arrow SVG */
.mainArrow{
    transition: 0.2s;
}
/* Background Line Positioning and Styles */
#bgLines{
    position: absolute;
    width:100%;
    height:100%;
    left: 0;
    top:0;
    z-index: -2;
}
.lBot, .lBot2, .lHome, .lMain, .lRight{
    position: absolute;
    transition: 1s;
}
.lBot2{
    margin-left:60%;
    margin-top: 27%;
    display: none;
}
.lBot, .lHome, .lRight, .lMain, .lBot2{
    width:50%;
    height:50%;
}
.lHome{
    margin-left: 0%;
    margin-top: -12.2%;
}
.linesHome{
    transform: scale(2);
}
.lBot{
    margin-left:50%;
    margin-top: 33%;
}
.linesBot, .linesRight, .lBot2{
    transform: scale(1.58);
}
.lRight{
    margin-top: 13%;
}
.lMain{
    transform: scale(1.63);
    margin-left:-28.3%;
    margin-top: -10%;
    display: none; 
}
/* Home Logo Style */
#homeLogo{
    width:70vh;
    height:70vh;
    margin: auto;
    margin-top: 15%;
}
/* Basic Setup for Each Section */
#homePage, #productPage, #aboutPage, #contactPage, #aboutSubs{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 0;
    transition: 1s;
}
#productPage, #aboutPage, #contactPage{
    display: none;
}
/* Basic Setup for Each Flavour in Products Section */
#flavour1, #flavour2, #flavour3, #flavour4, #productsAll{
    font-size: 3.5rem;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:0.8s;
}
#flavour2, #flavour3, #flavour4{    /* This is toggled using JS */
    display: none;
}
/* Product Image and Content Container */
.proContainer{
    width:85vh;
    height:10vh;
    margin: auto;
    display: flex;
    margin-top:8%;
}
    /* Flavour Heading Text */
.watermelon, .peach, .apple, .lemon{
    margin: auto;
    color: #E51B6C;
    z-index: 9;
}
.peach, .apple, .lemon{
    margin-left:21%;
}
    /* Product Information Icons */
.infoIcons{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(29, 29, 29);
    width:9%;
    height:70%;
    z-index: 11;
    font-size: 1.2rem;
    margin-top:5%;
    margin-left: -8%;
}
.infoIcons span{
    margin-top:5%;
    margin-bottom: 10%;
}
    /* Review Text and Buttons */
.reviews{
    margin: auto;
}
    /* Shoelace Review Button */
.reviewBtn{
    cursor: pointer;
}
.reviewBtn::part(base){
    width:30vh;
    height:5vh;
    padding-top:2%;
    transition: 0.2s;
    font-size: 1.9rem;
    color: rgb(26, 26, 26);
    background: none;
    font-family: supersize-bk, sans-serif;
    font-weight: 400;
    font-style: normal;
    border:none;
}
.reviewBtn::part(base):hover{
    transform: scale(1.06);
}
.reviews img{
    transform: scale(0.8);
    margin-left: -6%;
}
.rArrow{
    border: solid rgb(26, 26, 26);
    border-width: 0 0.6vh 0.6vh 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
    /* Flavour Review Section Setup */
#f1Review, #f2Review, #f3Review, #f4Review{
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    transition: 1s;
}
    /* Shared Styles for Review Headings and Subheadings */
.f1R{
    margin: auto;
    font-size: 5rem;
    color: #E51B6C;
    top:16vh;
    margin-bottom: -3%;
    margin-top: 7%;
}
.f1RSub{
    margin: auto;
    font-size: 3.5rem;
    color: #E51B6C;
    margin-bottom: 0%;
}
/* Review Star Images */
.f1RStar{
    width:20%;
    height:8%;
    margin-bottom: -3%;
}
/* Review Page Scrollable Sections */
#f1RScroll, #f2RScroll, #f3RScroll, #f4RScroll{
    width:70%;
    height:50%;
    padding-top:0.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;

}
/* Review Pages Scroll Trigger Background Animation Containers */
.f1rBgAnimate, .f2rBgAnimate, .f3rBgAnimate, .f4rBgAnimate{
    position: absolute;
    z-index: -5;
    width:100%;
    height:100%;
    left: 0;
    top:0;
    display: none;
}
/* Review Page Scroll Trigger Background Animation Elements */
.f1rAnimateL1 img, .f1rAnimateL2 img, .f1rAnimateL3 img, .f2rAnimateL1 img, .f2rAnimateL2 img, .f2rAnimateL3 img, .f3rAnimateL1 img, .f3rAnimateL2 img, .f3rAnimateL3 img, .f4rAnimateL1 img, .f4rAnimateL2 img, .f4rAnimateL3 img{
    margin-left:50%;
    margin-top:-100%;
    width:100%;
    height:100%;
}
/* Shared Stlyes for Each Customer Review Box */
.cust1{
    width:98%;
    height: 48%;
    margin: auto;
    margin-top:0.75%;
    margin-bottom:0.75%;
    display: flex;
    flex-direction: column;
}
.cust1Sub{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 20%;
    font-size: 2rem;
    color: rgb(22, 22, 22);
}
.cust1Sub div{
    width: 65%;
    margin-top:0.2%;
}
.cust1Sub img{
    transform: scale(1);
    width:25%;
    height:100%;

}
.cust1 span{
    width:95%;
    height:78%;
    margin-left:1.5%;
    margin-top:0.6%;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}
/* Styling for All 4 Bottle Images*/
/* Containers */
.bottle{
    width:30%;
    height: 90%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -22%;
}
/* Actual Images */
.bottleImg{
    width: 100%;
    height: 100%;
}
/* Styling for GSAP Animated Product Page Background Elements */
/* Containers */
.bgContainer{
    width:100vh;
    height:73vh;
    position: absolute;
    bottom: 0;
}
/* Individual Background Elements (These had to be seperate for the animation to appear layered)*/
/* Shared Positioning Attribute */
.melon1, .melon2, .melon3, .peach1, .peach2, .peach3, .appleFront, .apple0, .apple1, .apple2, .apple3, .lemon1, .lemon2, .lemon3, .lemon4{
    position: absolute;
}
/* Precise Positioning for Each Background Element */
.melon1{
    transform: scale(0.8);
    z-index: 7;
    margin-top: 19%;
    margin-left: 50%;
}
.melon2{
    transform: scale(0.75);
    z-index: 6;
    margin-top:12vh;
    margin-right: 14vh;
}
.melon3{
    transform: scale(0.5);
    z-index: 5;
    margin-left:20%;
}
.peach1{
    z-index: 7;
    transform: scale(0.75);
    margin-top: 10%;
    margin-left: -10%;
}
.peach2{
    z-index: 6;
    margin-top: 16%;
}
.peach3{
    z-index: 5;
    transform: scale(0.2);
    margin-top: -48%;
    margin-left: -58%;
}
.appleFront{
    z-index: 9;
    transform: scale(0.1);
    margin-left: -45%;
    margin-top: -56%;
}
.apple0{
    z-index: 8;
    transform: scale(0.32);
    margin-left: -24%;
    margin-top: -11%;
}
.apple1{
    z-index: 7;
    transform: scale(0.65);
    margin-left: 25%;
    margin-top: 9%;
}
.apple2{
    z-index: 6;
    transform: scale(0.47);
    margin-top: 26%;
    margin-left: -30%;
}
.apple3{
    z-index: 5;
    transform: scale(0.68);
    margin-top: 8%;
    margin-left: 35%;
}
.lemon1{
    z-index: 9;
    transform: scale(0.35);
    margin-left: -20%;
    margin-top: 10%;
}
.lemon2{
    z-index: 8;
    transform: scale(0.95);
    margin-left: 50%;
    margin-top: 25%;
}
.lemon3{
    z-index: 7;
    transform: scale(0.55);
    margin-left: -67%;
    margin-top: -13%;
}
.lemon4{
    z-index: 6;
    margin-left:48%;
    margin-top:20%;
}
/* Beggining of All Products Page */
#productsAll{
    margin-top: 2%;
}
/* Splide Slider*/
/* Basic Slider Styles */
.splide{
    width:140vh;
    height:77vh;
    margin:auto;
}
/* Slider Bottle Image Wrapper */
.slideImgWrapper{
    width: 60vh;
    height: 75vh;
    margin: auto;
    margin-top:2%;
}
/* All Other Splide Slider Styles */
.splide__list{
    color:#E51B6C;
    align-items: center;
    text-align: center;
}
.splide__slide{
    margin-top: 0%;
    display: flex;
    flex-direction: row;
}
.slideText{
    display: flex;
    flex-direction: column;
    width:50%;
    height:58vh;
    margin-left: 8%;
    margin-top: 7%;
}
.slideText p{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 1.8rem;
}
h6{
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 2.8rem;
}
h5{
    font-size: 2.2rem;
    margin-top: 2%;
    margin-bottom: 0%;
}
.slideImg{
    width:100%;
    height:100%;
}
/* Start of About Page */
/* Shared Styles for Each About Section */
#aboutMain, #about1, #about2{
    width:70%;
    height:75%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}
/* Alignment for Section Headings and Subheadings */
.aboutMainTitle, .aboutMain2, .about1Title, .about1Sub, .about2Title, .about2Sub{
    margin: auto;
    color: #E51B6C;
}
/* Individual Heading and Subheading Styles */
.aboutMainTitle{
    font-size: 6rem;
    margin-top: 14%;
}
.aboutMain2{
    font-size: 3.8rem;
    margin-top: -18%;
    margin-bottom: 0;
}
/* Shoelace Explore Button Styles */
.explore{
    border: none;
    margin: auto;
    margin-top: 2%;
    z-index: 10;
}
.explore::part(base){
    border: none;
    background: #27AAE1;
    width:18vh;
    height:6vh;
    font-family: supersize-bk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.7rem;
    padding-top:6%;
    transition: 0.2s;
}
.explore::part(base):hover{
    transform: scale(1.1);
}
/* Heading and Subheading Styles for Sections 2 and 3 */
.about1Title, .about2Title{
    font-size: 5rem;
    margin-top: 0%;
}
.about1Sub, .about2Sub{
    font-size: 4rem;
    margin-top: -8%;
    margin-bottom: 1%;
}
/* Main Text Styles */
.about1Text, .about2Text{
    width:70%;
    height:60%;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 2rem;
    margin: auto;
    margin-top: 0%;
    text-align: center;
    line-height: 4.4vh;
}
/* Sections Should be Hidden Until Called on by JavaScript */
#about1, #about2{
    display: none;
}
/* Lower Navigation Buttons on About Page */
.abSubNav{
    width:40%;
    height:10%;
    margin: auto;
    margin-top: -6%;
    display: flex;
}
.navDots{
    display: flex;
    margin: auto;
}
.navDot1, .navDot2, .navDot3{
    width:3vh;
    height:3vh;
    border-radius: 50%;
    background-color: #E51B6C;
    margin: auto;
    margin-left: 1vh;
    margin-right: 1vh;
    transition: 0.2s;
}
.navDot2{
    background-color: #27AAE1;
    width:4vh;
    height:4vh;
}
.navDot1:hover, .navDot2:hover, .navDot3:hover, .arrow-left:hover, .arrow-right:hover{
    transform: scale(1.2);
}
/* Start of Contact Page */
/* Main Contact Page Scrollable Section */
#contactScroll{
    width:70%;
    height:50%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x:hidden;
}
/* Scroll Animations for the Contact Page Scroll Area*/
/* Animated Elements Container */
.conBgAnimate{
    position: absolute;
    z-index: -5;
    width:100%;
    height:100%;
    left: 0;
    top:0;
    display: none;
}
/* Animated Elements */
.conAnimateL1 img, .conAnimateL2 img, .conAnimateL3 img{
    margin-left:50%;
    margin-top:-100%;
    width:100%;
    height:100%;
}
/* General Page Text Styling*/
#contactPage{
    text-align: center;
}
/* Main Contact Title */
.contactTitle{
    font-size: 4.8rem;
    color: #E51B6C;
    margin-top: 8%;
}
/* Contact Sub Titles */
.contactSub, .contactSub2{
    margin: auto;
    font-size: 3.8rem;
    color: #E51B6C;
    margin-top: 0vh;
    margin-bottom: 0;
}
/* User Input Field Styles */
.inputContainer{
    margin: auto;
    width:85%;
    height:70%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 2.3vh;
    margin-bottom: 2vh;
}
.input1, .input2, .input3, .send{
    width:100%;
    border: none;
    background-color: rgb(201, 201, 201);
    margin-bottom:1vh;
    resize: none;
}
textarea{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1.2rem;
    padding: 1vh;
    overflow: hidden;
}
textarea::placeholder{
    color:#27AAE1;
    font-family: supersize-bk, sans-serif;
    font-weight: 400;
    font-style: normal;  
}
.input1, .input2{
    height:12%;
}
.input3{
    height:65%;
}
/* Shoelace Send Button Styles and Positioning */
.send{
    width:10%;
    height:14%;
}
.send::part(base){
    transition: 0.2s;
    font-family: supersize-bk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#27AAE1;
    font-size: 1.4rem;
    padding-top:0.2vh;
    background: rgb(201, 201, 201);
    border: none;
}
.send::part(base):hover{
    transform: scale(1.1);
    color: #E51B6C;
}
/* Creates Space Between the 2 Main Sections of the Contact Scroller */
.contactSub2{
    margin-top: 16vh;
}
/* More General Contact Scroller Styles */
.email, .tel{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: auto;
    font-size: 2.8rem;
    padding: 2vh;
}
.email{
    margin-top: 3vh;
}
.tel{
    margin-bottom: 20vh;
}
/* Animated Arrow Pointing at Bottom Navigation on Contact Page */
/* Arrow Container */
.conArrowContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left:6.8%;
    margin-top:-2%;
    transition: 0.2s;
}
/* Class to be Added by JavaScript to Move the Arrow When Required */
.conArrowContainer_Up{
    margin-top: -11%;
}
/* Styling for the Animated Arrows */
.conBotArrow{
    border: solid #E51B6C;
    width:4vh;
    height:4vh;
    border-width: 0 10px 10px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.2s;
    margin-top:40%;
    animation: conArrowBot 1s infinite linear;
    animation-timing-function: ease-in-out;
}
/* Basic CSS Animations to Animate the Arrows Above */
@keyframes conArrowBot {

    0%{
        margin-top:0%;
    }

    50%{
        margin-top:40%;
    }

    100%{
        margin-top:0%;
    }
}
/* Bottom Navigation Bar (Pushed Under the ViewPort)*/
.botNav{
    width:100%;
    height:18vh;
    background-color: rgb(66, 66, 66);
    position: absolute;
    bottom: 0;
    opacity: 0.6;
    display: flex;
    margin-bottom:-8.6% ;
    cursor: pointer;
    transition: 0.2s;
    text-align: left;
}
/* Bottom Navigation Class to be Added by JavaScript When Required (Will reveal the bottom navigation menu)*/
.botNav_Up{
    margin-bottom: 0%;
}
/* Bottom Navigation Basic Text and Link Styling */
.quickNav, .conInfo, .quickSocials{
    width:15%;
    height:100%;
    margin-left:5%;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 1.3vh;
}
.botNav span{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: white;
    margin-top: 0.6vh;
    margin-left: 2vh;
    cursor: pointer;
    transition: 0.2s;
}
.botNav span:hover{
    transform: scale(1.1);
}
.conInfo span:hover{
    transform: scale(1);
}
/* Clickable Handle To Reveal and Hide Bottom Navigation Bar */
.navHandle{
    width:12vh;
    height: 3vh;
    background-color: rgb(66, 66, 66);
    position: absolute;
    margin-left: 10vh;
    margin-top:-3vh;
}
/* Socials Icons Basic Styles */
.social1, .social2, .social3{
    position: absolute;
    right:0;
    width:12vh;
    height:12vh;
    bottom: 0;
    cursor: pointer;
}
/* Socials Icons Precise Positioning and Hover Properties */
.social1{
    margin-bottom: 12%;
    margin-right: 0.5%;
}
.social2{
    margin-right: 6.3%;
    margin-bottom: 6.3%;
}
.social3{
    margin-right:12%;
    margin-bottom: 0.5%;
}
.socialIcons{
    width: 100%;
    height:100%;
    transition: 0.2s;
}
.socialIcons:hover{
    transform: scale(1.1);
}
/* Transition Animation Classes (These are added and removed as required by JavaScript to create smooth page transitions)*/
/* Home Page | Nav Elements */
.homePage_hidden{
    margin-top: 60%;
}
.lHome_hidden{
    transform: translate(-55%, -55%);
}
.lBot_hidden{
    transform: translate(18.3%, 18.3%);
}
.lRight_hidden{
    transform: translate(-200%, -400%);;
}
.navBar_hidden{
    margin-top:-5%;
}
.navCon_hidden{
    margin-left:-30%;
}
/* Products Page | About Page | Contact Page */
.productPage_hidden{
    margin-top:100%;
}
.flavour1_hidden, .flavour2_hidden, .flavour3_hidden, .flavour4_hidden, .proAll_hidden, .aboutPage_hidden{
    transform: translateX(-100%);
}
.flavour2_initial, .flavour3_initial, .flavour4_initial, .aboutPage_initial{
    transform: translateX(100%);
}
.proAll_initial, .conPage_initial, .flavour1_hidden2, .flavour2_hidden2, .flavour3_hidden2, .flavour4_hidden2{
    transform: translateY(100%);
}
.f1Review_hidden, .f2Review_hidden, .f3Review_hidden, .f4Review_hidden{
    margin-top:-100%;
}
.conBgAnimate_reveal, .f1rBgAnimate_reveal, .f2rBgAnimate_reveal, .f3rBgAnimate_reveal, .f4rBgAnimate_reveal{
    display: block;
}
/* Media Query 1 - Medium Laptop Screen-Size */
@media only screen and (max-width: 1366px){
    .options{
        margin:2vh;
        padding: 3vh;
        margin-left: 40%;
    }
    .homeM, .productsM, .aboutM, .contactM{
        display: none;
    }
    .home, .products, .about, .contact{
        padding:4.6vh;
        padding-top:0;
        padding-bottom:0;
    }
    .homeM{
        margin-top:42%;
    }
    #navContainer{
        left: 3%;
        top:2%;
        width: 38vh;
        height: 12.4vh;
    }
    #navArrow{
        width:15vh;
        height:15vh;
        margin-left: 3%;
        top:43%;
    }
    #proArrow, #proArrow2, #proArrow3, #proArrow4, #proArrowOther, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        left:86%;
        top:44%;
    }
    .lBot, .lHome, .lRight, .lMain, .lBot2{
        width:60%;
        height:60%;
    }
    .lBot2{
        margin-top: 20%;
    }
    .lHome{
        margin-left: -22%;
        margin-top: -15%;
    }
    .lRight{
        margin-top: 20%;
    }
    .lMain{
        margin-top: -20%;
    }
    #homeLogo{
        width:60vh;
        height:60vh;
        margin-top: 20%;
    }
    .proContainer{
        margin-top:10%;
    }
    #flavour1, #flavour2, #flavour3, #flavour4, #productsAll{
        font-size: 3.2rem;
    }
    .watermelon{
        margin-left: 0%;
    }
    .infoIcons{
        font-size: 1.1rem;
        margin-top:6%;
        margin-left: -10%;
        text-align: center;
    }
    .reviews{
        margin-left:10%;
        margin-top: -2%;
        z-index: 11;
    }
    .reviewBtn::part(base){
        width:26vh;
        height:4vh;
        font-size: 1.6rem;
    }
    .reviews img{
        transform: scale(1);
        margin-left: 0%;
    }
    .bottle{
        width:80%;
        margin-bottom: -28%;
    }
    .bgContainer{
        width:110vh;
        height:70vh;
        margin-bottom: 0%;
    }
    .f1R{
        font-size: 4rem;
        margin-bottom: 0%;
        margin-top: 10%;
    }
    .f1RSub{
        font-size: 2.3rem;
        margin-bottom: 0%;
    }
    .f1RStar{
        width:22%;
        margin-bottom: 0%;
    }
    #f1RScroll, #f2RScroll, #f3RScroll, #f4RScroll{
        width:68%;
        height:54%;
    }
    .f1rAnimateL1 img, .f1rAnimateL2 img, .f1rAnimateL3 img, .f2rAnimateL1 img, .f2rAnimateL2 img, .f2rAnimateL3 img, .f3rAnimateL1 img, .f3rAnimateL2 img, .f3rAnimateL3 img, .f4rAnimateL1 img, .f4rAnimateL2 img, .f4rAnimateL3 img{
        margin-left:70%;
        margin-top:-115%;
        width:120%;
    }
    .cust1{
        margin-top: -1%;
    }
    .cust1Sub{
        font-size: 1.4rem;
    }
    .cust1Sub div{
        margin-top:1%;

    }
    .cust1Sub img{
        transform: scale(0.8);
        margin-top:0%;
        margin-left: 10%;
    }
    .cust1 span{
        width:98%;
        margin-top:0%;
        font-size: 1.1rem;
    }
    #productsAll{
        margin-top: 0%;
        text-align: center;
    }
    .splide{
        width:130vh;
        height:70vh;
        margin-top: 12%;
    }
    .slideImgWrapper{
        width: 40vh;
        height: 76vh;
        margin-top:-2%;
    }
    .slideText{
        height:66vh;
        margin-top: 0%;
    }
    .slideText p{
        font-size: 1.5rem;
    }
    h6{
        font-size: 2.4rem;
    }
    h5{
        font-size: 1.8rem;
    }
    .slideImg{
        width:135%;
        margin-left: -22%;
        margin-top:10%;
    }
    #aboutMain, #about1, #about2{
        width:68%;
        height:76%;
        margin-top: 10%;
    }
    .aboutMainTitle{
        font-size: 5.6rem;
        margin-top: 15%;
    }
    .aboutMain2{
        font-size: 3rem;
        margin-top: -20%;
    }
    .explore{
        margin-top: 2%;
    }
    .explore::part(base){
        width:20vh;
        height:7vh;
    }
    .about1Title, .about2Title{
        font-size: 4.4rem;
        margin-top: 6%;
    }
    .about1Sub, .about2Sub{
        font-size: 3.2rem;
        margin-top: 0%;
        margin-bottom: 1%;
    }
    .about1Text, .about2Text{
        width:98%;
        height:66%;
        font-size: 1.7rem;
        margin-top: 0%;
        line-height: 3.8vh;
    }
    .abSubNav{
        margin-top: -7%;
    }
    #contactScroll{
        width:68%;
        height:50%;
        margin-top: 2%;
        text-align: center;
    }
    .conAnimateL1 img, .conAnimateL2 img, .conAnimateL3 img{
        margin-left:56%;
        margin-top:-115%;
        width:120%;
    }
    .contactTitle{
        font-size: 4.2rem;
        margin-top: 12%;
    }
    .contactSub, .contactSub2{
        font-size: 3.2rem;
    }
    .inputContainer{
        width:92%;
    }
    textarea{
        font-size: 1rem;
    }
    .send{
        width:18%;
        height:14%;
    }
    .send::part(base){
        padding-top:0.4vh;
    }
    .contactSub2{
        margin-top: 16vh;
    }
    .tel{
        margin-bottom: 13vh;
    }
    .email, .tel{
        font-size: 2.4rem;
    }
    .social1, .social2, .social3{
        width:11vh;
        height:11vh;
    }
    .social1{
        margin-bottom: 14%;
    }
    .social2{
        margin-right: 7.5%;
        margin-bottom: 7.5%;
    }
    .social3{
        margin-right:14%;
    }
    .conArrowContainer{
        transform: translateY(-60%);
        margin-left: 8%;
    }
    .botNav{
        margin-bottom: -10.1%;
        text-align: left;
    }
    .botNav_Up{
        margin-bottom: 0%;
    }
    h1{
        font-size: 1.4rem;
        margin-bottom: 0;
        margin-top: 1.3vh;
    }
    .botNav span{
        font-size: 1rem;
        margin-top: 0.6vh;
        margin-left: 2vh;
    }
    .homePage_hidden{
        margin-top: 80%;
    }
    .lHome_hidden{
        transform: translate(-30%, -30%);
    }
    .lBot_hidden{
        transform: translate(5.5%, 5.5%);
    }
    .lRight_hidden{
        transform: translate(-140%, -240%);
    }
    .navBar_hidden{
        margin-top:-15%;
    }
    .navCon_hidden{
        margin-left:-60%;
    }
    .productPage_hidden{
        margin-top:120%;
    }
    .flavour1_hidden, .flavour2_hidden, .flavour3_hidden, .flavour4_hidden, .proAll_hidden, .aboutPage_hidden{
        transform: translateX(-120%);
    }
    .flavour2_initial, .flavour3_initial, .flavour4_initial, .aboutPage_initial{
        transform: translateX(100%);
    }
    .proAll_initial, .conPage_initial, .flavour1_hidden2, .flavour2_hidden2, .flavour3_hidden2, .flavour4_hidden2{
        transform: translateY(100%);
    }
    .f1Review_hidden, .f2Review_hidden, .f3Review_hidden, .f4Review_hidden{
        margin-top:-100%;
    }
}
/* Media Query 2 - Small Laptop or Landscape Tablet Screen-Size */
@media only screen and (max-width: 1024px){
    .options{
        margin:2vh;
        padding: 3vh;
        margin-left: 40%;
        font-size: 1.3rem;
    }
    .home, .products, .about, .contact{
        padding:2.6vh;
        padding-top:0;
        padding-bottom:0;
    }
    .homeM{
        margin-top:42%;
    }
    .homeM, .productsM, .aboutM, .contactM{
        padding-top:10%;
        padding-bottom:0;
        transition: 0.2s;
    }
    .homeM:hover, .productsM:hover, .aboutM:hover, .contactM:hover{
        transform: scale(1.2);
    }
    #navContainer{
        width: 32vh;
    }
    #navArrow{
        width:14vh;
        height:14vh;
        margin-left: 5%;
    }
    #proArrow, #proArrow2, #proArrow3, #proArrow4, #proArrowOther, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        width:14vh;
        height:14vh;
    }
    .lBot2{
        margin-top: 30%;
    }
    .lBot, .lHome, .lRight, .lMain, .lBot2{
        width:70%;
        height:70%;
    }
    #homeLogo{
        width:54vh;
        height:54vh;
        margin-top: 27%;
    }
    .proContainer{
        margin-top:15%;
    }
    .infoIcons{
        width:11%;
        margin-top:8%;
        margin-left: 0%;
    }
    .bottle{
        margin-bottom: -40%;
    }
    .bgContainer{
        width:100vh;
    }
    .f1R{
        margin-top: 12%;
    }
    .f1RStar{
        width:26%;
    }
    #f1RScroll, #f2RScroll, #f3RScroll, #f4RScroll{
        height:58%;
    }
    .cust1 span{
        font-size: 1rem;
    }
    .slideImgWrapper{
        width: 30vh;
        height: 66vh;
        margin-top:0%;
    }
    .splide{
        width:90vh;
        margin-top: 16%;
    }
    .slideText{
        height:66vh;
    }
    h6{
        font-size: 2.2rem;
    }
    h5{
        font-size: 1.4rem;
    }
    #aboutMain, #about1, #about2{
        margin-top: 13%;
    }
    .aboutMainTitle{
        margin-top: 20%;
    }
    .aboutMain2{
        margin-top: -32%;
    }
    .about1Sub, .about2Sub{
        margin-top: -3%;
    }
    .contactTitle{
        margin-top: 13%;
    }
    .tel{
        margin-bottom: 8vh;
    }
    .social1{
        margin-bottom: 20%;
    }
    .social2{
        margin-right: 10.5%;
        margin-bottom: 10.5%;
    }
    .social3{
        margin-right:20%;
    }
    .conArrowContainer{
        transform: translateY(-50%);
        margin-left: 10.6%;
    }
    .botNav{
        margin-bottom: -13.4%;
    }
    .botNav_Up{
        margin-bottom: 0%;
    }
    .homePage_hidden{
        margin-top: 110%;
    }
    .lHome_hidden{
        transform: translate(-29%, -29%);
    }
    .lBot_hidden{
        transform: translate(11%, 11%);
    }
    .lRight_hidden{
        transform: translate(-200%, -240%);
    }
}
/* Media Query 3 - Portrait Tablet Screen-Size */
@media only screen and (max-width: 768px){
    .hamburger{
        display: flex;
        flex-direction: column;
        position: absolute;
        height:7%;
        top: -20%;
        left: 82%;
        z-index: 11;
        cursor: pointer;
        transition: 0.2s;
    }
    .hamburger:hover{
        transform: scale(1.1);
    }
    .hamburger_reveal{
        top:3%;
    }
    .midLine, .topLine, .botLine{
        width:7vh;
        height:0.8vh;
        background-color: #E51B6C;
        margin-top:1.7vh;
        transition: 0.2s;
        opacity: 1;
    }
    .topLine{
        margin-top: 0;
    }
    .topLine_toggled{ 
        transform: rotate(45deg) translate(2%, 4%);
    }
    .botLine_toggled{
        transform: rotate(-45deg) translate(2%, -4%);
    }
    .midLine_toggled{
        display: none;
    }
    .optionsM{
        position: absolute;
        display: none;
        flex-direction: column;
        text-align: center;
        height:110%;
        width:100%;
        margin-top:-165%;
        margin-left:0%;
        background-color: white;
        font-size: 3rem;
        z-index: 11;
        transition: 0.2s;
    }
    .options_reveal{
        margin-top: -12%;
    }
    .options{
        display: none;
    }
    #logoNav{
        display: none;
    }
    #logoNavFlat{
        display:block;
        transform: scale(1.2);
    }
    .homeM{
        margin-top:42%;
    }
    .homeM, .productsM, .aboutM, .contactM{
        padding-top:10%;
        padding-bottom:0;
        transition: 0.2s;
        display: block;
    }
    .homeM:hover, .productsM:hover, .aboutM:hover, .contactM:hover{
        transform: scale(1.2);
    }
    #navContainer{
        left: 12%;
        width: 28vh;
    }
    #navArrow{
        width:11vh;
        height:11vh;
        margin-left: -29%;
        top:64%;
    }
    #proArrow, #proArrow2, #proArrow3, #proArrow4, #proArrowOther, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        width:11vh;
        height:11vh;
        left:80%;
    }
    .lBot2{
        width:90%;
        height:90%;
        margin-top: 68%;
    }
    .lBot, .lHome, .lRight, .lMain{
        width:90%;
        height:90%;
    }
    .lHome{
        margin-left: -30%;
        margin-top: -14.5%;
    }
    .lBot{
        margin-top: 63%;
    }
    .lRight{
        margin-top: 50%;
    }
    .lMain{
        margin-top: -16%;
    }
    #homeLogo{
        width:48vh;
        height:48vh;
        margin-top: 44.5%;
    }
    .proContainer{
        margin-top:18%;
    }
    .watermelon{
        margin-left: 8%;
    }
    .infoIcons{
        width:18%;
        font-size: 1rem;
        margin-top:18%;
        margin-left: 6%;
    }
    .reviews{
        margin-left: 2%;
    }
    .reviews img{
        transform: scale(0.6);
        margin-left: -4%;
    }
    .rArrow{
        border-width: 0 0.4vh 0.4vh 0;
    }
    .bottle{
        margin-bottom: -58%;
    }
    .bgContainer{
        width:90vh;
        margin-bottom: -10%;
    }
    .f1R{
        margin-bottom: -21%;
        margin-top: 20%;
    }
    .f1RSub{
        margin-bottom: -3%;
    }
    .f1RStar{
        margin-bottom: -22%;
    }
    #f1RScroll, #f2RScroll, #f3RScroll, #f4RScroll{
        width:95%;
        height:50%;
    }
    .cust1Sub div{
        margin-top:2.2%;
    }
    .cust1 span{
        font-size: 1.1rem;
    }
    .splide{
        width:68vh;
        height:66vh;
        margin-top: 20%;
    }
    h6{
        font-size: 2.4rem;
    }
    h5{
        font-size: 2rem;
    }
    #proArrow4, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        left:43%;
        top:85%;
    }
    #aboutMain, #about1, #about2{
        width:90%;
        height:70%;
        margin-top: 18%;
    }
    .aboutMainTitle{
        margin-top: 36%;
    }
    .explore{
        margin-top: 3%;
    }
    .explore::part(base){
        width:18vh;
        height:6vh;
        font-size: 1.8rem;
    }
    .about1Title, .about2Title{
        font-size: 4.8rem;
    }
    .about1Sub, .about2Sub{
        font-size: 3.6rem;
        margin-top: -6%;
    }
    .abSubNav{
        margin-top: -10%;
    }
    #contactScroll{
        width:95%;
        height:52%;
    }
    .conAnimateL1 img, .conAnimateL2 img, .conAnimateL3 img{
        margin-left:70%;
    }
    .contactTitle{
        margin-top: 22%;
    }
    .tel{
        margin-bottom: 16vh;
    }
    .conBotArrow{
        display: none;
    }
    .botNav{
        display: none;
    }
    .navHandle{
        display: none;
    }
    .social1, .social2, .social3{
        width:10vh;
        height:10vh;
    }
    .social1{
        margin-bottom: 16%;
    }
    .social2{
        margin-right: 0.5%;
        margin-bottom: 0.5%;
    }
    .social3{
        margin-right:16%;
    }
    .lHome_hidden{
        transform: translate(-23%, -23%);
    }
    .lBot_hidden{
        transform: translate(3.3%, 3.3%);
    }
    .lRight_hidden{
        transform: translate(-200%, -140%);
    }
    .navBar_hidden{
        margin-top:-5%;
    }
}
/* Media Query 4 - Larger Mobile Screen-Size (Tested iPhone 13 Safari and Chrome) (This layout looks somewhat off when using desktop browser resizing to test but looks much better on the iPhone 13, which is what I made it for specifically */
@media only screen and (max-width: 390px){
    .midLine, .topLine, .botLine{
        width:6vh;
        height:0.6vh;
    }
    .optionsM{
        margin-top:-280%;
        font-size: 2.2rem;
    }
    .options_reveal{
        margin-top: -16%;
    }
    .homeM{
        margin-top:55%;
    }
    #navContainer{
        width: 24vh;
    }
    #navArrow{
        width:13vh;
        height:13vh;
        margin-left: -34%;
    }
    #proArrow, #proArrow2, #proArrow3, #proArrow4, #proArrowOther, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        width:12vh;
        height:12vh;
        left:70%;
    }
    .lBot2{
        margin-top: 88%;
    }
    .lBot, .lHome, .lRight, .lMain, .lBot2{
        width:120%;
        height:120%;
    }
    .lHome{
        margin-left: -70%;
    }
    .lBot{
        margin-top: 60%;
    }
    .lRight{
        margin-top: 90%;
    }
    .lMain{
        margin-top: -23%;
    }
    #homeLogo{
        width:46vh;
        height:46vh;
        margin-top: 52%;
    }
    .proContainer{
        width:100%;
        height:80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top:24%;
    }
    #flavour1, #flavour2, #flavour3, #flavour4, #productsAll{
        font-size: 2.4rem;
    }
    .watermelon, .peach, .apple, .lemon{
        margin: auto;
        margin-top: 3%;
        margin-bottom: -108%;
    }
    .infoIcons{
        display: none;
    }
    .reviews{
        margin-top:0%;
        margin: auto;
    }
    .reviewBtn::part(base){
        font-size: 1.4rem;
        margin-top: -34%;
        margin-bottom: -46%;
    }
    .reviews img{
        margin-left: 0%;
        margin-top: -10%;
    }
    .bottle{
        width:115%;
        height:90%;
        margin-bottom: -96%;
    }
    .bgContainer{
        width:150%;
        margin-bottom: -18%;
    }
    #f1Review, #f2Review, #f3Review, #f4Review{
        text-align: center;
    }
    .f1R{
        font-size: 2.6rem;
        margin-bottom: -24%;
        margin-top: 22%;
    }
    .f1RSub{
        font-size: 1.6rem;
    }
    .f1RStar{
        width:30%;
        margin-bottom: -4%;
    }
    #f1RScroll, #f2RScroll, #f3RScroll, #f4RScroll{
        height:49%;
        text-align: left;
        margin-top: 0;
    }
    .f1rAnimateL1 img, .f1rAnimateL2 img, .f1rAnimateL3 img, .f2rAnimateL1 img, .f2rAnimateL2 img, .f2rAnimateL3 img, .f3rAnimateL1 img, .f3rAnimateL2 img, .f3rAnimateL3 img, .f4rAnimateL1 img, .f4rAnimateL2 img, .f4rAnimateL3 img{
        width:180%;
    }
    .cust1{
        width:98%;
        height: 200%;
        margin-top:0.75%;
        margin-bottom:0.75%;
    }
    .cust1Sub{
        font-size: 1.2rem;
        height:10%;
        margin-top:2%;
        margin-bottom: 1.5%;
    }
    .cust1Sub div{
        margin-top:2%;
        width: 70%;
    }
    .cust1Sub img{
        transform: scale(1);
        margin-left: 5%;
    }
    .cust1 span{
        font-size: 0.9rem;
    }
    .slideImgWrapper{
        width: 75%;
        height: 100%;
        margin: auto;
        position: absolute;
        opacity: 0.4;
        transform: translateY(14%);
    }
    .splide{
        width:100%;
        z-index: 10;
        margin-top: 26%;
    }
    .slideText{
        height:70vh;
        width: 90%;
        margin: auto;
        margin-top: 0%;
        text-align: center;
        align-items: center;
        z-index: 10;
    }
    .slideText p{
        font-size: 1.18rem;
        margin-top: 4%;
        line-height: 3vh;
    }
    h5{
        font-size: 1.4rem;
    }
    .slideImg{
        margin-left: 0%;
        margin-top:10%;
        margin: auto;
        z-index: 9;
    }
    #proArrow4, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        left:38%;
    }
    #aboutMain, #about1, #about2{
        width:98%;
        height:68%;
        margin-top: 30%;
        text-align: center;
    }
    .aboutMainTitle{
        font-size: 3.6rem;
        margin-top: 25%;
    }
    .aboutMain2{
        font-size: 2.3rem;
    }
    .explore::part(base){
        width:22vh;
        height:7vh;
        font-size: 1.4rem;
        padding-top:3%;
    }
    .about1Title, .about2Title{
        font-size: 3.2rem;
        margin-top: -6%;
    }
    .about1Sub, .about2Sub{
        font-size: 2.2rem;
        margin-top: -16%;
    }
    .about1Text, .about2Text{
        width:100%;
        font-size: 1.1rem;
        line-height: 3vh;
    }
    .abSubNav{
        margin-top: -20%;
    }
    #contactScroll{
        width:99%;
        height:50%;
        margin-top: 18%;
    }
    .conAnimateL1 img, .conAnimateL2 img, .conAnimateL3 img{
        width:180%;
    }
    .contactTitle{
        font-size: 2.9rem;
        left: 0;
        top:10vh;
        position: relative;
    }
    .contactSub, .contactSub2{
        font-size: 2rem;
    }
    textarea{
        font-size: 0.9rem;
        padding: 1vh;
        overflow: hidden;
    }
    .send{
        width:24%;
        height:12%;
    }
    .send::part(base){
        font-size: 1.1rem;
    }
    .contactSub2{
        margin-top: 8vh;
    }
    .email, .tel{
        font-size: 1.6rem;
        padding: 2vh;
    }
    .email{
        margin-top: 0%;
    }
    .tel{
        margin-bottom: 2vh;
    }
    .social1, .social2, .social3{
        width:9vh;
        height:9vh;
    }
    .social1{
        margin-bottom: 15%;
        margin-right: 8%;
    }
    .social2{
        margin-right: 0.5%;
        margin-bottom: 0.5%;
    }
    .social3{
        margin-right:16%;
    }
    .homePage_hidden{
        margin-top: 180%;
    }
    .lHome_hidden{
        transform: translate(-13.5%, -13.5%);
    }
    .lBot_hidden{
        transform: translate(3%, 3%);
    }
    .lRight_hidden{
        transform: translate(-280%, -140%);
    }
    .navCon_hidden{
        margin-left:-80%;
    }
    .productPage_hidden{
        margin-top:185%;
    }
}
/* Media Query 5 - Smaller Mobile Screen-Size */
@media only screen and (max-width: 360px){
    .midLine, .topLine, .botLine{
        width:7vh;
        height:0.8vh;
    }
    .optionsM{
        margin-top:-225%;
    }
    .options_reveal{
        margin-top: -16%;
    }
    #navContainer{
        left: 8%;
        width: 28vh;
    }
    #navArrow{
        width:14vh;
        height:14vh;
    }
    #proArrow, #proArrow2, #proArrow3, #proArrow4, #proArrowOther, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        width:13vh;
        height:13vh;
        left:73%;
    }
    .lBot2{
        margin-top: 112%;
    }
    .lBot, .lHome, .lRight, .lMain, .lBot2{
        width:110%;
        height:110%;
    }
    .lHome{
        margin-left: -60%;
    }
    .lBot{
        margin-top: 80%;
    }
    .lRight{
        margin-top: 99%;
    }
    .lMain{
        margin-top: -16%;
    }
    /* Home Logo Style */
    #homeLogo{
        width:52vh;
        height:52vh;
        margin-top: 50%;
    }
    .proContainer{
        margin-top:26%;
    }
    #flavour1, #flavour2, #flavour3, #flavour4, #productsAll{
        font-size: 2.2rem;
    }
    .watermelon, .peach, .apple, .lemon{
        margin-top: 0;
        margin-bottom: -110%;
    }
    .bottle{
        width:100%;
        margin-bottom: -92%;
    }
    .bgContainer{
        width:140%;
        margin-bottom: -20%;
    }
    .f1R{
        font-size: 2.4rem;
        margin-bottom: -32%;
        margin-top: 26%;
    }
    #f1RScroll, #f2RScroll, #f3RScroll, #f4RScroll{
        height:45%;
    }
    .cust1Sub{
        margin-bottom: 2.5%;
    }
    .slideImgWrapper{
        transform: translateY(25%);
    }
    .slideText{
        height:66vh;
        width: 85%;
    }
    .slideText p{
        font-size: 1.1rem;
        margin-top: 0%;
    }
    h6{
        font-size: 2rem;
    }
    h5{
        font-size: 1.2rem;
    }
    #proArrow4, #abArrow, #conArrow, #revArrow, #revArrow2, #revArrow3, #revArrow4{
        left:38%;
    }
    #aboutMain, #about1, #about2{
        width:95%;
        margin-top: 25%;
    }
    .aboutMainTitle{
        font-size: 3.4rem;
        margin-top: 36%;
    }
    .aboutMain2{
        font-size: 2.2rem;
    }
    .explore::part(base){
        font-size: 1.3rem;
    }
    .about1Title, .about2Title{
        font-size: 3rem;
        margin-top: 5%;
    }
    .about1Sub, .about2Sub{
        font-size: 2.1rem;
        margin-top: -11%;
    }
    .about1Text, .about2Text{
        font-size: 1rem;
        line-height: 3.2vh;
    }
    .abSubNav{
        margin-top: -14%;
    }
    #contactScroll{
        height:53%;
        margin-top: 20%;
    }
    .contactTitle{
        top:11vh;
    }
    .send{
        height:14%;
    }
    .contactSub2{
        margin-top: 16vh;
    }
    .email, .tel{
        font-size: 1.8rem;
    }
    .email{
        margin-top: 3vh;
    }
    .tel{
        margin-bottom: 10vh;
    }
    .social1, .social2, .social3{
        width:10vh;
        height:10vh;
    }
    .homePage_hidden{
        margin-top: 150%;
    }
    .lHome_hidden{
        transform: translate(-13.5%, -13.5%);
    }
    .lBot_hidden{
        transform: translate(6.2%, 6.2%);
    }
    .lRight_hidden{
        transform: translate(-230%, -140%);
    }
    .productPage_hidden{
        margin-top:160%;
    }
}